<!DOCTYPE html>
<html>

<head>
  <title>Animal Planet</title>
</head>

<body>
  <h1>Animal-tastic!</h1>
  <h2>Check out our database</h2>
  <h3>Find your friends...</h3>
  <ul>
    {{#each users}}
      <li>{{name}}</li>
      <p>{{email}}</p>
      <p> <a href="{{id}}">Profile</a></p>
    {{/each}}
  </ul>
  <h1>Can't find your profile?</h1>
  <h2>Add yourself!</h2>
  <form class="" action="/users" method="post">
    <input type="text" name="name" placeholder="Enter name">
    <input type="email" name="email" placeholder="We need your email">
    <input type="text" name="url" placeholder="Add a website">
    <input type="text" name="photo" placeholder="Add a link to your photo">
    <input type="text" name="info" placeholder="Tell us your favourite food">
    <input type="submit" value="add">
  </form>
<p><b><em>Thanks for stopping by!</em></b></p>
<p><b>See you again soon.</b></p>

</body>

</html>
